.validate-err {
    border-color: red;
}

.validate-err-msg {
    margin: 0;
    position: relative;
}

.validate-err-msg-content {
    position: absolute;
    display: block;
    color: red;
    white-space: nowrap;
}